---
http_interactions:
- request:
    method: get
    uri: http://www.viaggiatreno.it/viaggiatrenonew/resteasy/viaggiatreno/cercaStazione/MILANO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '[{"nomeLungo":"MILANO CENTRALE","nomeBreve":"Milano Centrale","label":"Milano","id":"S01700"},{"nomeLungo":"MILANO
        AFFORI","nomeBreve":"Milano Affori","label":null,"id":"S01078"},{"nomeLungo":"MILANO
        BOVISA FNM","nomeBreve":"MI BOVISA FNM","label":null,"id":"S01642"},{"nomeLungo":"MILANO
        BRUZZANO","nomeBreve":"Milano Bruzzano","label":null,"id":"S01079"},{"nomeLungo":"MILANO
        CERTOSA","nomeBreve":"Milano Certosa","label":"Milano","id":"S01640"},{"nomeLungo":"MILANO
        DATEO","nomeBreve":"Milano Dateo","label":null,"id":"S01650"},{"nomeLungo":[...]
